<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'template/header.html' %}
    <title>Farah Nazihah</title>
  </head>
  <body>
    {% include 'template/navbar.html' %}
    {% block content %}{% endblock %}
  </body>
  <footer style="
      background-color: #E08F62;
      margin: 0;
      padding: 20px;
      text-align: right;
      width: 100%;
      height: 70px;"
      >
    {% include 'template/footer.html' %}
  </footer>
</html>
