<!DOCTYPE html>

{% extends 'template/base.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="sectionpage">
            <div class="formmatkul">
                <form class="d-flex flex-column my-2 w-75" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
                    {% endfor %}
                    <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2">Submit</button>
                  </form>      
            </div>
        </div>
        <div class="sectionpage matkul">
            {% for i in matkul %}
            <a href={{"/matkul/" + matkul.id}}>
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <div class="card-title"><p>{{ i.nama }}</p></div>
                      <p class="card-text">{{ i.id }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>

</html>

{% endblock %}